<!--
    <h1>New Counter</h1>
-->

<p>Current count: @currentCount</p>

<p>
    <input type="number" @bind-value="@counterStart" @bind-value:event="oninput" />
</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>




@code {
    private int currentCount = 0;
    private int counterStart = 1;

    private void IncrementCount()
    {
        currentCount = counterStart + 1;
    }
}
