@*@page "/todos/delete/{Id:guid}"

@attribute [Authorize]
@inject NavigationManager Navigation

<h3>Are you sure you want to delete this Todo?</h3>

<h4>Title</h4>
<p>@todo.Name</p>

<h4>Description</h4>
<p>@todo.Description</p>

<button class="btn btn-primary" @onclick="DeleteTodo">Delete</button>

@code {
    [Parameter]
    public Guid Id { get; set; }

    //prop
    public Todo todo { get; set; }

    protected override void OnInitialized()
    // any logic/ code needs to go in methods
    {
        base.OnInitialized();

        if (App.Todos.ContainsKey(Id))
        {
            todo = App.Todos[Id];
        }
        else
        {
            Console.WriteLine("Id does not exist.");
        }
    }

    private void DeleteTodo()
    {
        App.Todos.Remove(Id);
        Navigation.NavigateTo("/todos");        // redirect to index todos page
    }
}*@
