<h3>Component <span>@RandomString</span></h3>
<!-- https://docs.microsoft.com/en-us/aspnet/core/tutorials/build-a-blazor-app?view=aspnetcore-6.0&pivots=server-->

@code {
    [Parameter]
    public string RandomString { get; set; }
}
